body{
	margin:100px;
}

#a{
	/*投影的距离*/
	perspective:1000px;

	/*找基准线*/
	perspective-origin:50%,50%;
	transform-style:preserve-3d;
}
img{
	width:200px;
	height:200px;
	/*3d的平移*/
	/*transform:translate3d(100px,100px,100px);*/
	/*transform:translate3d(100px,100px,-500px);*/
	/*transform:translateZ(-2000px);*/

	/*3d的放缩*/
	/*transform:scale3d(1.5,2,2.5) rotateX(45deg);*/

	/*transform:rotateX(45deg);*/

	/*3d旋转*/
	transform:rotate3d(1,1,1,45deg);
}